[client]
port            = 3306
socket          = /data/mysql/data/mysql.sock

[mysqld]
user = root
datadir=/data/mysql/data

port            = 3306
socket          = /data/mysql/data/mysql.sock
pid-file        = /data/mysql/data/mysql.pid
explicit_defaults_for_timestamp 

skip_name_resolve
skip_external_locking
key_buffer_size = 64M
table_open_cache = 1024
sort_buffer_size = 2M
join_buffer_size = 1M
read_buffer_size = 2M
read_rnd_buffer_size = 2M
binlog_cache_size = 1M
myisam_sort_buffer_size = 16M
bulk_insert_buffer_size = 16M
thread_cache_size = 512
query_cache_type= 0
query_cache_size= 0
#thread_concurrency = 16
max_allowed_packet = 256M
tmp_table_size = 64M
max_heap_table_size = 64M

#init_connect = 'SET NAMES utf8'
#skip-character-set-client-handshake
character-set-server = utf8
collation-server=utf8_general_ci

lower_case_table_names=1

wait_timeout = 3600
interactive_timeout = 3600

max_connections=3000
back_log = 1000
max_connect_errors=200000

slow_query_log = 1
slow_query_log_file = /data/mysql/logs/slowquery.log
long_query_time = 1
slow_launch_time = 1


server-id       = 92201
log_bin=/data/mysql/logs/mysql-bin
log_bin_index=/data/mysql/logs/mysql-bin.index
max_binlog_size = 1G
relay-log=/data/mysql/logs/relay-bin
binlog_format=row
slave_skip_errors = all
expire_logs_days = 1
#log_slave_updates = 1
#skip-slave-start
#read_only=1
relay_log_recovery = 1
slave_allow_batching = 1
binlog_rows_query_log_events = 1
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_row_image = minimal

innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1

innodb_data_file_path = ibdata1:512M:autoextend
innodb_log_group_home_dir = /data/mysql/logs
innodb_log_files_in_group = 3
innodb_log_file_size = 1G
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 30
innodb_thread_concurrency = 32
innodb_thread_concurrency = 8
innodb_file_per_table = 1
innodb_io_capacity = 200
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_flush_method = O_DIRECT
innodb_file_format=barracuda
transaction_isolation = read-committed

innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1

[mysqldump]
quick
max_allowed_packet = 512M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
