[client]
port					= 3306
socket					= /run/mysqld/mysqld.sock

[mysqld_safe]
socket					= /var/run/mysqld/mysqld.sock
nice					= 0


[mysqld]
port					= 3306
socket					= /run/mysqld/mysqld.sock
bulk_insert_buffer_size	= 16M		
connect_timeout			= 5
max_connections			= 100
max_heap_table_size		= 32M	
tmp_table_size			= 32M
wait_timeout			= 600


###  MyISAM
###
expire_logs_days		= 10
key_buffer_size 		= 128M
long_query_time 		= 10
max_allowed_packet 		= 16M
myisam_recover_options 	= BACKUP	
myisam_sort_buffer_size = 512M		
net_buffer_length 		= 16K
query_cache_limit		= 128K
query_cache_size		= 64M
read_buffer_size 		= 2M
read_rnd_buffer_size 	= 1M	
skip-external-locking		
slow_query_log_file		= /var/log/mysql/mariadb-slow.log	
sort_buffer_size 		= 4M
table_open_cache 		= 400

###  InnoDB
###
#### InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
default_storage_engine	= InnoDB
# you can't just change log file size, requires special procedure
#innodb_log_file_size	= 50M
innodb_buffer_pool_size	= 256M	
innodb_file_per_table	= 1	
innodb_flush_method		= O_DIRECT
innodb_io_capacity		= 400
innodb_log_buffer_size	= 8M	
innodb_open_files		= 400

# Point the following paths to different dedicated disks
#tmpdir					= /tmp/
	
### Replication 
# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin

# binary logging format - mixed recommended
#binlog_format			=mixed

#max_binlog_size         = 100M		

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id				= 1

[mysqldump]
max_allowed_packet 		= 16M
quick
quote-names


[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates


[myisamchk]
key_buffer_size 			= 20M
sort_buffer_size 			= 20M
read_buffer 				= 2M
write_buffer 				= 2M

[mysqlhotcopy]
interactive-timeout

## Include .conf files
!includedir /etc/mysql/conf.d/